<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <add name="DogDatabase" 
             connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;C:\Users\Mmani\source\repos\pawpal-formApp\DogCareFormApp\DatabaseFor Reg.mdf&quot;;Integrated Security=True" 
             providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>
